*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "barlow";
  src: url("../assets/fonts/barlow.ttf");
}
.pokedex, .field--evo, .field--health::after, .field--init::after, .cardInfo-info--evolution div, .sdcard-info--health::after, .sdcard-info--initiative::after {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.pokedex, .ball, .loading, .select--link, .select--title, .select-item, .select-display, .select-button, .select-field, .expansions--link, .expansions--title, .expansions-field, .field--col, .field--dice, .field--evo, .field-expansions, .field--buttons, .pokeForm--description, .pokeForm--title, .pokeForms-option, .pokeForms-options, .cardInfo-description, .cardInfo-info--evolution div, .cardInfo-info--evolution, .cardInfo-info--location, .cardInfo-info--learn, .sdcard-moveInfo--strength {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInfo-info--learn div, .cardInfo-info--stats, .cardInfo-title--types, .sdcard-info--stats, .sdcard-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #404040 #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.sdcard {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 0 0.3em #85422c;
  background-color: #934a32;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 10px;
}
.sdcard::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
}
.sdcard:hover {
  box-shadow: 0 0 0 0.3em #a74b20;
  cursor: pointer;
}
.sdcard-type {
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
  margin-right: 2px;
}
.sdcard-type--last {
  margin-left: auto;
  margin-right: 0.3rem;
}
.sdcard-title, .sdcard-moveInfo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.sdcard-title p, .sdcard-moveInfo p {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-bottom: 0;
  margin-top: 0;
}
.sdcard-info {
  height: 65%;
}
.sdcard-info--box {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sdcard-info--location {
  width: 50%;
}
.sdcard-info--learn {
  display: flex;
}
.sdcard-info--img {
  width: 50%;
  object-fit: cover;
}
.sdcard-info--health, .sdcard-info--initiative {
  padding: 4px 30px 4px 4px;
  background-color: aliceblue;
  position: relative;
  border-radius: 5px;
  z-index: 10;
  width: 50px;
  text-align: right;
  font-weight: bold;
}
.sdcard-info--initiative {
  margin-left: 0.3rem;
}
.sdcard-info--health::after, .sdcard-info--initiative::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: 70% 60%;
  right: 0;
  top: 0;
}
.sdcard-info--health::after {
  background-image: url("../assets/img/icons/health.png");
}
.sdcard-info--initiative::after {
  background-image: url("../assets/img/icons/initiative.png");
}
.sdcard-moveInfo {
  padding-left: 0;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.sdcard-moveInfo--strength {
  border: 2px solid black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  margin-left: auto;
  background-color: aliceblue;
}
.sdcard-moveInfo--name {
  background-color: aliceblue;
  width: 70%;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.cardInfo {
  background-color: #2a475e;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}
.cardInfo-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #1b2838;
  z-index: 300;
  cursor: pointer;
}
.cardInfo-close:hover {
  background-color: #171a21;
}
.cardInfo-close::after, .cardInfo-close::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 18px;
  left: 8px;
  transform: rotate(45deg);
}
.cardInfo-close::before {
  transform: rotate(-45deg);
}
.cardInfo-title {
  display: flex;
  border-bottom: 4px solid #171a21;
}
.cardInfo-type {
  width: 40px;
  height: 40px;
}
.cardInfo-type--sm {
  width: 30px;
  height: 30px;
}
.cardInfo-type--round {
  border-radius: 5px;
  margin-right: 0.3rem;
}
.cardInfo-name {
  width: 80%;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.cardInfo-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 1.5rem;
}
.cardInfo-info--img {
  width: 100%;
  max-width: 300px;
  margin: 0.5rem 0;
  object-fit: cover;
}
.cardInfo-info--box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardInfo-info--stats {
  margin-left: auto;
  margin-right: auto;
}
.cardInfo-info--learn div {
  width: 70px;
  height: 70px;
  flex-wrap: wrap;
}
.cardInfo-info--location img {
  width: 70%;
  max-width: 100px;
}
.cardInfo-info--locationB {
  grid-column: 1/3;
}
.cardInfo-info--locationB img {
  width: 40%;
  max-width: 100px;
}
.cardInfo-info--evolution div {
  width: 60px;
  height: 60px;
  background-image: url("../assets/img/icons/evolution.png");
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.cardInfo-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cardInfo-description {
  font-size: 1.2rem;
}
.cardInfo-description p {
  margin: 0 0 0 0.5rem;
}
.cardInfo-move {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cardInfo-move--description {
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: justify;
}
.cardInfo-move .sdcard-moveInfo--name {
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.pokeForms {
  margin-bottom: 1rem;
}
.pokeForms-screen {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
.pokeForms-box {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 2px solid #171a21;
  border-top: none;
  border-bottom: none;
  position: relative;
  padding-left: 0.5rem;
}
.pokeForms-box::after, .pokeForms-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  border: 2px solid #171a21;
  border-left: none;
  border-right: none;
}
.pokeForms-box::before {
  left: auto;
  right: 0;
}
.pokeForms-box--show {
  display: flex;
}
.pokeForms-options {
  justify-content: start;
  flex-wrap: wrap;
}
.pokeForms-option {
  justify-content: start;
  margin-right: 0.5rem;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  border: 2px solid #171a21;
  transition: background-color 0.3s ease;
  user-select: none;
  position: relative;
  margin-bottom: 0.3rem;
}
.pokeForms-option::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.pokeForms-option:hover {
  background-color: #1b2838;
  cursor: pointer;
}
.pokeForms-option--img {
  max-width: 30px;
  border-radius: 5px;
  margin-right: 0.2rem;
}
.pokeForm {
  background-color: #2a475e;
  border: 4px solid #171a21;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  position: relative;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
}
.pokeForm::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.pokeForm:hover {
  background-color: #1b2838;
}
.pokeForm--img {
  max-width: 100px;
}
.pokeForm--title {
  width: 100%;
  padding: 0.4rem;
}
.pokeForm--types {
  margin-right: 0.5rem;
}
.pokeForm--type {
  margin-right: 0.3rem;
  width: 25px;
  height: 25px;
}
.pokeForm--description {
  font-weight: bold;
  border-top: 4px solid #171a21;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.8rem 0.5rem;
  border-radius: 0 0 7px 7px;
  text-align: center;
}
.pokeForm--expansion {
  border-radius: 5px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
  width: 30px;
}

@media screen and (max-width: 500px) {
  .cardInfo-info {
    display: flex;
    flex-direction: column;
  }
}
.search {
  height: 100vh;
  background-color: rgba(27, 40, 56, 0.9);
  border-right: 3px solid #171a21;
  margin-right: auto;
  width: 40vw;
  max-width: 600px;
  position: relative;
  z-index: 150;
  transition: left 0.3s ease;
}

#pokemonSearch {
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.form {
  overflow-y: auto;
  position: relative;
}
.form--noOverflow {
  overflow-y: hidden;
}
.formClose {
  height: 70px;
  width: 35px;
  background-color: #1b2838;
  position: absolute;
  top: calc(50% - 45px);
  right: -35px;
  border: 3px solid #171a21;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease-in;
  display: none;
  z-index: 200;
}
.formClose:hover {
  background-color: #2a475e;
  cursor: pointer;
}
.formClose::after, .formClose::before {
  content: "";
  top: 24px;
  left: 5px;
  width: 20px;
  height: 4px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
}
.formClose::before {
  transform: rotate(-45deg);
  top: auto;
  bottom: 24px;
}
.formClose--left::after, .formClose--left::before {
  transform: rotate(-45deg);
}
.formClose--left::before {
  transform: rotate(45deg);
}

.field {
  padding: 0.5rem 0;
}
.field--buttons {
  margin-top: auto;
}
.field--buttons input {
  padding: 0.4rem;
}
.field--buttons input:last-child {
  margin-left: 1rem;
}
.field-expansions {
  padding: 0.5rem 0;
  position: relative;
}
.field--health, .field--init {
  background-color: aliceblue;
  padding: 5px;
  padding-right: 30px;
  border-radius: 5px;
  position: relative;
}
.field--health::after, .field--init::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/icons/health.png");
}
.field--init::after {
  background-image: url("../assets/img/icons/initiative.png");
}
.field--evo {
  width: 70px;
  height: 70px;
  background-image: url("../assets/img/icons/evolution.png");
}
.field--evo input {
  opacity: 0.9;
}
.field--info, .field--move {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.field--col, .field--dice {
  flex-direction: column;
  justify-content: space-around;
  height: 180px;
}
.field--move .field--col {
  height: auto;
}
.field--dice {
  background-color: aliceblue;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  font-size: 0.8rem;
  border: 2px solid black;
}
.field--text input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem 0.5rem;
  background-color: #dbeeff;
}
.field--double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.field--double div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field--dual, .field--cuadra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}
.field--dual label, .field--cuadra label {
  grid-column: 1/3;
}
.field--cuadra {
  grid-template-rows: repeat(3, 1fr);
}
.field label {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.field label.tx--center {
  display: block;
}

.inp--short {
  width: 40px;
}

@media screen and (max-width: 1010px) {
  .search {
    position: absolute;
    left: -40vw;
  }
  .search--show {
    left: 0;
  }

  .formClose {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .search {
    max-width: none;
    width: 100%;
    left: -100%;
  }
  .search--show {
    left: 0;
  }

  .form {
    padding-right: 25px;
  }
  .formClose--show {
    right: -3px;
    border-radius: 5px 0 0 5px;
  }
}
.expansions-field {
  padding: 0.5rem 0;
  position: relative;
}
.expansions-box {
  user-select: none;
  position: absolute;
  bottom: 100%;
  width: 90%;
  background-color: #934a32;
  border: 5px solid #85422c;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  transition: visibility 0.3s linear;
  transition: opacity 0.3s linear;
  visibility: hidden;
  opacity: 0%;
}
.expansions-box--shown {
  visibility: visible;
  opacity: 100%;
}
.expansions-box--down {
  top: 50px;
}
.expansions-button {
  cursor: pointer;
  display: inline;
  background-color: #934a32;
  border: 4px solid #85422c;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 0.3rem;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  user-select: none;
}
.expansions-button:hover {
  border-color: orange;
}
.expansions-item {
  width: 80%;
  background-color: #b37059;
  margin-top: 0.5rem;
  padding-left: 2px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 45px;
  position: relative;
  transition: background-color 0.2s ease;
}
.expansions-item:hover {
  background-color: #975f4c;
}
.expansions--title {
  justify-content: start;
  padding-left: 0.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
.expansions--link {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  background-color: #c7d5e0;
  margin-left: auto;
  border-radius: 0 5px 5px 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.expansions--link img {
  width: 30px;
  height: 30px;
}
.expansions--img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.expansions--img--sm {
  width: 25px;
  height: 25px;
  margin-right: 0.3rem;
}

.select-field {
  padding: 0.5rem 0;
  position: relative;
}
.select-field--col {
  flex-direction: column;
  align-items: space-around;
}
.select-field--col .select-button {
  margin-bottom: 0.5rem;
}
.select-field--location {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.select-locations {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 0 5px #171a21;
}
.select-locations--item {
  width: 100%;
  height: 100%;
  position: absolute;
}
.select-offSet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
}
.select-close {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #2a475e;
  z-index: 300;
  cursor: pointer;
}
.select-close:hover {
  background-color: #171a21;
}
.select-close::after, .select-close::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 18px;
  left: 8px;
  transform: rotate(45deg);
}
.select-close::before {
  transform: rotate(-45deg);
}
.select-box {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background-color: #1b2838;
  border: 5px solid #171a21;
  padding: 1rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transition: visibility 0.2s linear;
  transition: opacity 0.2s linear;
  visibility: hidden;
  opacity: 0%;
  z-index: 250;
}
.select-box::-webkit-scrollbar {
  width: 5px;
}
.select-box::-webkit-scrollbar-thumb {
  background-color: #2a475e;
}
.select-box--shown {
  visibility: visible;
  opacity: 100%;
}
.select-button {
  cursor: pointer;
  justify-content: space-around;
  position: relative;
  height: 40px;
  min-width: 115px;
  background-color: #2a475e;
  border: 3px solid #171a21;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  transition: background-color 0.4s ease-in-out;
  user-select: none;
}
.select-button:hover {
  background-color: #c7d5e0;
}
.select-button--disabled {
  background-color: grey;
  cursor: initial;
}
.select-button--disabled:hover {
  background-color: grey;
}
.select-display {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 30px);
  height: 100%;
  z-index: -1;
  justify-content: end;
  box-sizing: border-box;
  padding: 0 2px;
}
.select-display--types {
  justify-content: space-around;
  width: 100%;
  height: 190%;
  left: 0;
  align-items: end;
}
.select-display--left {
  left: auto;
  right: 0;
  justify-content: start;
}
.select-display--xl {
  width: calc(100% + 40px);
  left: -20px;
}
.select-display--item {
  width: 22px;
  height: 22px;
}
.select-item {
  height: 45px;
  width: 80%;
  background-color: #2a475e;
  margin-top: 0.5rem;
  padding-left: 2px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.2s ease;
}
.select-item:hover {
  background-color: #c7d5e0;
}
.select--title {
  justify-content: start;
  padding-left: 0.5rem;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
.select--link {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  background-color: #c7d5e0;
  border-radius: 0 5px 5px 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.select--link img {
  width: 30px;
  height: 30px;
}
.select--img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.loading {
  position: absolute;
  z-index: 250;
  top: 0;
  left: 0;
  background-color: #1b2838;
  width: 100%;
  height: 100%;
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 300;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: appear 0.5s ease-out, roll 1s ease-in-out infinite;
  background: linear-gradient(to bottom, #e83e35 0%, #e83e35 50.5%, white 50.51%, white 100%);
}
.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}
.ball-button {
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  90%, to {
    transform: rotate(720deg);
  }
}
@keyframes appear {
  from, 50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes button {
  from, 50%, to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }
  25%, 75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}
.pokedex {
  background-image: url("../assets/img/splash_cold.png");
  width: 100vw;
  height: 100vh;
  padding-right: 3vw;
  margin: 0;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--sa {
  justify-content: space-around;
}
.flex--col {
  flex-direction: column;
}

.screen {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 0 0.6em white;
  box-sizing: border-box;
  height: 90vh;
  width: 55vw;
  padding: 0.6rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.screen--noScroll {
  overflow-y: hidden;
}

.notFound {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 0 0.6rem tomato;
  background-color: rgba(240, 128, 128, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.notFound--center {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.tx--center {
  text-align: center;
}

@media screen and (max-width: 1010px) {
  .pokedex {
    background-size: auto 100vh;
    padding-left: 45px;
    padding-right: 45px;
  }

  .screen {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
