.sdcard {
    @include cubo(250px);
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 0 .3em $bg2;
    background-color: $bg3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-right: 10px;
    transition: box-shadow .3s ease-in-out;
    &::after {
        content: '';
        @include cubo(100%);
        position: absolute;
        z-index: 15;
        top: 0;
        left: 0;
    }
    &:hover {
        box-shadow: 0 0 0 .3em $border1;
        cursor: pointer;
    }
    &-type {
        @include cubo(25px);
        margin-bottom: 2px;
        margin-right: 2px;
        &--last {
            margin-left: auto;
            margin-right: .3rem;
        }
    }
    &-title,
    &-moveInfo {
        // background: lightblue;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        & p {
            font-weight: bold;
            margin-left: .5rem;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    &-info {
        @extend %flexAround;
        height: 65%;
        &--stats {
            @extend %flexAround;
        }
        &--box {
            // background-color: lightgoldenrodyellow;
            height: 100%;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        &--location {
            width: 50%;
        }
        &--learn {
            display: flex;
        }
        &--img {
            width: 50%;
            object-fit: cover;
        }
        &--health,
        &--initiative {
            padding: 4px 30px 4px 4px;
            background-color: aliceblue;
            position: relative;
            border-radius: 5px;
            z-index: 10;
            width: 50px;
            text-align: right;
            font-weight: bold;
        }
        &--initiative {
            margin-left: .3rem;
        }
        &--health::after,
        &--initiative::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 100%;
            @extend %bgs;
            background-size: 70% 60%;
            right: 0;
            top: 0;
        }
        &--health::after {
            background-image: url('../assets/img/icons/health.png');
        }
        &--initiative::after {
            background-image: url('../assets/img/icons/initiative.png');
        }
    }
    &-moveInfo {
        // background-color: lightseagreen;
        padding-left: 0;
        align-items: center;
        padding-left: .5rem;
        padding-right: .5rem;
        &--strength {
            border: 2px solid black;
            @include cubo(1.5rem);
            @extend %flexCenter;
            border-radius: 5px;
            font-weight: bold;
            margin-left: auto;
            background-color: aliceblue;
        }
        &--name {
            background-color: aliceblue;
            width: 70%;
            padding: .3rem .5rem;
            border-radius: 5px;
        }
    }
}

.cardInfo {
    background-color: $bg3;
    position: absolute;
    @include cubo(100%);
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 1.5rem;
    &-link {
        position: absolute;
        top: 10px;
        right: 60px;
        @include cubo(40px);
        border-radius: 5px;
        background-color: $bg1;
        z-index: 300;
        @extend %flexCenter;
        & img {
            width: 80%;
        }
        &:hover {
            background-color: $bg2;
        }
    }
    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
        @include cubo(40px);
        border-radius: 5px;
        background-color: $bg1;
        z-index: 300;
        cursor: pointer;
        &:hover {
            background-color: $bg2;
        }
        &::after,
        &::before {
            content: '';
            width: 25px;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 18px;
            left: 8px;
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
    &-title {
        display: flex;
        border-bottom: 4px solid $bg2;
        &--types {
            @extend %flexAround;
        }
    }
    &-type {
        @include cubo(40px);
        &--sm {
            @include cubo(30px);
        }
        &--round {
            border-radius: 5px;
            margin-right: .3rem;
        }
    }
    &-name {
        width: 80%;
        font-weight: bold;
        font-size: 1.4rem;
        margin-left: .5rem;
    }
    &-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        margin-bottom: 1.5rem;
        &--img {
            width: 100%;
            max-width: 300px;
            margin: .5rem 0;
            object-fit: cover;
        }
        &--box {
            display: flex;
            align-items: center;
            flex-direction: column;
            grid-row: 1/4;
        }
        &--stats {
            @extend %flexAround;
            margin-left: auto;
            margin-right: auto;
        }
        &--learn {
            @extend %flexCenter;
            & div {
                @include cubo(70px);
                @extend %flexAround;
                flex-wrap: wrap;
            }
        }
        &--location {
            @extend %flexCenter;
            & img {
                width: 70%;
                max-width: 100px;
            }
            &B {
                grid-column: 1/3;
                & img {
                    width: 40%;
                    max-width: 100px;
                }
            }
        }
        &--evolution {
            @extend %flexCenter;
            & div {
                @include cubo(60px);
                @extend %flexCenter;
                @extend %bgs;
                background-image: url('../assets/img/icons/evolution.png');
                font-weight: bold;
                font-size: 2rem;
                color: white;
            }
        }
    }
    &-box {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    &-description {
        @extend %flexCenter;
        font-size: 1.2rem;
        flex-wrap: wrap;
        & .sdcard-info{
            &--health{
                margin-right: 1rem;
            }
            &--initiative{
                margin-left: 1rem;
            }
        }
        & p {
            width: 100%;
            text-align: center;
            font-weight: bold;
            padding: 0 .5rem;
            margin-top: .5rem;
        }
    }
    &-move {
        grid-row: 2/4;
        &--title{
            margin-top: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            & img, & div{
                margin-left: auto;
                margin-right: auto;
            }
            & img{
                margin-right: .5rem;
            }
            & .sdcard-moveInfo {
                &--name {
                    margin-left: .5rem;
                    text-align: center;
                    font-weight: bold;
                    min-width: 60%;
                }
            }
        }
        &--description {
            width: 100%;
            background-color: aliceblue;
            border-radius: 5px;
            padding: .8rem 1rem;
            box-sizing: border-box;
            text-align: left;
        }

    }
}

.poke {
    &Lines{
        // background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;
        position: relative;
        padding-left: .5rem;
        
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 100%;
            border: solid $bg2;
            border-width: 2px 0 0 2px;
            z-index: -10;
        }
        &::before {
            border-width: 0 2px 2px 0;
            left: auto;
            right: 0;
        }
        &-options {
            @extend %flexCenter;
            justify-content: start;
            flex-wrap: wrap;
            font-weight: bold;
        }
        &-option {
            @extend %flexCenter;
            justify-content: start;
            margin-right: .5rem;
            padding: .2rem .3rem;
            border-radius: 5px;
            border: 2px solid $bg2;
            transition: background-color .3s ease, border-color .3s ease, color .3s ease;
            user-select: none;
            position: relative;
            margin-bottom: .3rem;
            
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-radius: inherit;
                z-index: 10;
                @include cubo(100%);
            }
            &:hover {
                background-color: $bg1;
                border-color: $border1;
                color: aliceblue;
                cursor: pointer;
            }
            &--img {
                max-width: 30px;
                border-radius: 5px;
                margin-right: .2rem;
            }
            &--selected {
                border-color: goldenrod;
            }
        }
        &-screen{
            position: relative;
        }
        &-cage{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            &--line{
                border-bottom: 2px solid $bg2;
            }
        }
        
        &-box {
            display: none;
            box-sizing: border-box;
            border: 0 2px 0 2px solid $bg2;
            padding: .5rem;


            &--show {
                display: block;
            }
        }
    }
    // &Forms {
    //     margin-bottom: 1rem;
    //     background-color: #fff;
    //     &-screen {
    //         box-sizing: border-box;
    //         position: relative;
    //         overflow-x: hidden;
    //     }
    //     &-box {
    //         display: none;
    //         justify-content: space-around;
    //         flex-wrap: wrap;
    //         box-sizing: border-box;
    //         border: 2px solid $bg2;
    //         border-top: none;
    //         border-bottom: none;
    //         position: relative;
    //         padding-left: .5rem;
    //         &::after,
    //         &::before {
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             width: 10%;
    //             height: 100%;
    //             border: 2px solid $bg2;
    //             border-left: none;
    //             border-right: none;
    //         }
    //         &::before {
    //             left: auto;
    //             right: 0;
    //         }
    //         &--show {
    //             display: flex;
    //         }
    //     }
    //     &-options {
    //         @extend %flexCenter;
    //         justify-content: start;
    //         flex-wrap: wrap;
    //     }
    //     &-option {
    //         @extend %flexCenter;
    //         justify-content: start;
    //         margin-right: .5rem;
    //         padding: .2rem .3rem;
    //         border-radius: 5px;
    //         border: 2px solid $bg2;
    //         transition: background-color .3s ease, border-color .3s ease;
    //         user-select: none;
    //         position: relative;
    //         margin-bottom: .3rem;
    //         &::after {
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             border-radius: inherit;
    //             z-index: 10;
    //             @include cubo(100%);
    //         }
    //         &:hover {
    //             background-color: $bg1;
    //             cursor: pointer;
    //         }
    //         &--img {
    //             max-width: 30px;
    //             border-radius: 5px;
    //             margin-right: .2rem;
    //         }
    //         &--selected {
    //             border-color: goldenrod;
    //         }
    //     }
    // }
    &Form {
        background-color: $bg3;
        user-select: none;
        border: 4px solid $bg2;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 150px;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding-top: .5rem;
        border-radius: 10px;
        position: relative;
        margin-top: 1.5rem;
        transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
        &::after {
            content: '';
            @include cubo(100%);
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            border-radius: 10px;
        }
        &:hover {
            background-color: $bg1;
            border-color: $border1;
        }
        &--img {
            max-width: 100px;
        }
        &--title {
            width: 100%;
            padding: .4rem;
            @extend %flexCenter;
        }
        &--types {
            margin-right: .5rem;
        }
        &--type {
            margin-right: .3rem;
            @include cubo(25px);
        }
        &--description {
            font-weight: bold;
            border-top: 4px solid $bg2;
            background-color: aliceblue;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: .8rem .5rem;
            border-radius: 0 0 7px 7px;
            text-align: center;
            @extend %flexCenter;
        }
        &--expansion {
            border-radius: 5px;
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: 100;
            width: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .cardInfo {
        &-info {
            display: flex;
            flex-direction: column;
        }
        &-move{
            &--description{

                text-align: center;
            }
        }
    }
}