.expansions {
    &-field {
        padding: .5rem 0;
        position: relative;
        @extend %flexCenter;
    }
    &-box {
        user-select: none;
        position: absolute;
        bottom: 100%;
        width: 90%;
        background-color: $cardColor;
        border: 5px solid $cardBorder;
        border-radius: 10px 10px 0 0;
        padding: .5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 200px;
        max-height: 500px;
        overflow-y: auto;
        transition: visibility .3s linear;
        transition: opacity .3s linear;
        visibility: hidden;
        opacity: 0%;
        &--shown {
            visibility: visible;
            opacity: 100%;
        }
        &--down {
            top: 50px;
        }
    }
    &-button {
        cursor: pointer;
        display: inline;
        background-color: $cardColor;
        border: 4px solid $cardBorder;
        margin-left: auto;
        margin-right: auto;
        padding: .5rem .3rem;
        font-weight: bold;
        border-radius: 5px;
        box-sizing: border-box;
        transition: border-color .2s ease;
        user-select: none;
        &:hover {
            border-color: orange;
        }
    }
    &-item {
        width: 80%;
        background-color: $cardColorLight;
        margin-top: .5rem;
        padding-left: 2px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        height: 45px;
        position: relative;
        transition: background-color .2s ease;
        &:hover {
            background-color: $cardColorLightB;
        }
    }
    &--title {
        @extend %flexCenter;
        justify-content: start;
        padding-left: .5rem;
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        border-radius: 0 5px 5px 0;
        font-weight: bold;
        user-select: none;
        cursor: pointer;
    }
    &--link {
        @extend %flexCenter;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60px;
        background-color: #c7d5e0;
        margin-left: auto;
        border-radius: 0 5px 5px 0;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        & img {
            @include cubo(30px);
        }
    }
    &--img {
        @include cubo(40px);
        border-radius: 5px;
        &--sm {
            @include cubo(25px);
            margin-right: .3rem;
        }
    }
}