$cardColor: rgb(147, 74, 50);
$cardColorLight: rgb(179, 112, 89);
$cardColorLightB: rgb(151, 95, 76);
$cardBorder:rgb(133, 66, 44);
$bg1: #1b2838;
$bg2: #171a21;
$bg3: #2a475e;
$bg4: #c7d5e0;
$border1:#66c0f4;
$pkb1: #e83e35;
$shinyOnly: goldenrod;
$shinyNone: gray;
