*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'barlow';
    src: url('../assets/fonts/barlow.ttf');
}

$cardColor: rgb(147,
74,
50);
$cardColorLight: rgb(179,
112,
89);
$cardColorLightB: rgb(151,
95,
76);
$cardBorder:rgb(133,
66,
44);
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@mixin cubo($t) {
    width: $t;
    height: $t;
}

%bgs {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@import '_card.scss';
@import '_form.scss';
@import '_expansions.scss';
.pokedex {
    background-image: url('../assets/img/background.png');
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3vw;
    padding-top: 0;
    margin: 0;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    &--sa {
        justify-content: space-around;
    }
    &--col {
        flex-direction: column;
    }
}

.search {
    height: 100%;
    background-color: rgba($cardColor, .9);
    border-right: 3px solid $cardBorder;
    margin-right: auto;
    width: 40vw;
    max-width: 600px;
    position: relative;
    z-index: 150;
    transition: transform .3s ease;
}

.screen {
    background-color: rgba(white, .3);
    border-radius: 10px;
    box-shadow: 0 0 0 .6em white;
    box-sizing: border-box;
    height: 90vh;
    width: 55vw;
    padding: .6rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &--noScroll {
        overflow-y: hidden;
    }
}

.hd {
    display: none
}

.notFound {
    @include cubo(250px);
    border-radius: 10px;
    box-shadow: 0 0 0 .6rem tomato;
    background-color: rgba(lightcoral, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    &--center {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }
}

.tx {
    &--center {
        text-align: center;
    }
}

@media screen and (max-width: 1010px) {
    .pokedex {
        background-image: url('../assets/img/backgroundM.png');
        padding-right: 0;
    }
    .screen {
        width: 90%;
    }
    .search {
        position: absolute;
        background-color: $cardColor;
        transform: translateX(-110vw);
        &--show {
            transform: translateX(-30vw);
        }
    }
}

@media screen and (max-width: 850px) {
    .search {
        max-width: none;
        width: 100%;
        &--show {
            transform: translateX(0vw);
        }
    }
}

// @media screen and (max-width: 600px) {
//     .pokedex {
//         background-image: url('../assets/img/backgroundM2.png');
//     }
// }